# Entornos virtuales
myenv/
venv/
env/
.env/

# Archivos caché de Python
__pycache__/
*.py[cod]
*$py.class

# Base de datos
db.sqlite3
db.sqlite3-journal

# Configuraciones de IDE
.vscode/
.idea/
*.swp
*.swo

# Archivos del sistema
.DS_Store
Thumbs.db

# Archivos de configuración sensibles
settings.py
.env
portfolio\settings.py
