# Paquetes básicos 
Django==5.1.6

# Para manejo de imágenes
Pillow==10.1.0

# Para variables de entorno (para cargar .env)
python-dotenv==1.0.1

whitenoise==6.6.0  # Para servir archivos estáticos en producción
gunicorn==21.2.0   # Servidor WSGI para producción
